body{
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
    background: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display{
    height: 100px;
    width: 430px;
    border-radius: 20px;
    border: none;box-shadow: #00000063 3px 10px 10px;
    margin-bottom: 10px;
    font-size: 3rem;
}

button{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    font-size: 3rem;
    color: white;
    border: none;
    box-shadow: #00000054 3px 10px 10px;
    background: #0b92bb;
}
.btn {
    width: 430px;
    height: 600px;
    display: grid;
    grid-template-areas: 'topo topo topo topo'
    'numeros numeros numeros lefte'
    'numeros numeros numeros lefte'
    'numeros numeros numeros lefte'
    'baixo baixo baixo lefte';
    
    gap: 10px;

}


#numeros{
    height: 330px;
    grid-area: numeros;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
#topo{
    grid-area: topo;
    display: flex;
    flex-direction: row;
    gap: 10px;
    animation-name: topo;
    animation-duration: 0.2s;
}
@keyframes topo {
    from{transform: translateX(-200px)}
}
#left{
    height: 440px;
    grid-area: lefte;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation-name: left;
    animation-duration: 0.2s;
}
@keyframes left{
    from{transform: translateX(200px);}
}

#baixo{
    height: 110px;
    width: 330px;
    margin-top: -100px;
    grid-area: baixo;
    display: flex;
    flex-direction: row;
    gap: 15px;
    animation-name: baixo;
    animation-duration: 0.2s;
}
@keyframes baixo{
    from{transform: translateY(200px);}
}

#soma{
    height: 210px;
}
#zero{
    width: 215px;  
}


.calculadora {
    height: 750 px;
    width: 500px;
    background: #1597be;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
